<h1>Vítejte na blogu TechGirls!</h1>
<p>Dnes je venku krásně a sem časem přibyde text o skvělých holkách v IT, které se rozhodly založit blog.</p>
<p>Články píšeme velmi nepravidelně, jde spíš o hraní s kódem. </p>
<p> Pokračujte na </p>