<h1>Vítejte na blogu TechGirls!</h1>
<p>Dnes je venku krásně a sem časem přibyde text o skvělých holkách v IT, které se rozhodly založit blog.</p>


<%= render partial: "post", collection: @posts %> 


<br>

<%= link_to 'New Post', new_post_path %>
