<!DOCTYPE html>
<html>
<head>
  <title>Techgirls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<ul id="menu-bar">
 		<li class="active"><a href="./index.html">Home</a></li>
 			<li><a href="./pages/me.html">O mně</a></li>
 			<li><a href="./pages/kontakt.html">Kontakt</a></li>
	</ul>

<%= yield %>

</body>
</html>
